.env
__pycache__/
Content 
Content.txt
upload_2_jobs.py 
database.db

# Exclude AI-generated Word Documents (Keep text notes safe for reference)
*.docx
!static/resumes/*.docx
*.txt
!ads.txt

# Ignore Google OAuth credentials
allata1.json
Documents

# Environments
.env
__pycache__/
Content 
Content.txt
upload_2_jobs.py 
database.db

# Exclude AI-generated Word Documents (Keep text notes safe for reference)
*.docx
!static/resumes/*.docx
*.txt
!ads.txt

# Ignore Google OAuth credentials
allata1.json
Documents

# Environments
all-at-a1/

# VS Code
.vscode/

# Local Info
commit_id.txt
all at a1 sharing.pdf
Text files/ALL AT A1.pdf
Text files/ALL AT A1 (1).pdf
ads_sense_rejection.py
update_json.py
