.env
__pycache__/
Content 
Content.txt
upload_2_jobs.py 
database.db

# Exclude AI-generated Word Documents (Keep text notes safe for reference)
*.docx
*.txt

# Ignore Google OAuth credentials
allata1.json
Documents

# Environments
all-at-a1/

# VS Code
.vscode/

# Local Info
commit_id.txt
